.banner {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: 15rem;

    background-image: url("../../assets/images/orange-bg.jpg");
    background-position: center;
    background-size: cover;

    &__title {
        color: rgba($color: #000000, $alpha: 0.85);
        font-weight: bold;
    }
}
